In [16]:
%matplotlib notebook

In [3]:
#Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [6]:
#Load data from files
mouse_file = os.path.join('.','data','mouse_drug_data.csv')
trial_file = os.path.join('.','data','clinicaltrial_data.csv')

mouse_data_df = pd.read_csv(mouse_file)
clin_data_df = pd.read_csv(trial_file)

clin_data_df.head(15)

   Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0      b128          0                45.0                 0
1      f932          0                45.0                 0
2      g107          0                45.0                 0
3      a457          0                45.0                 0
4      c819          0                45.0                 0
5      h246          0                45.0                 0
6      p189          0                45.0                 0
7      n923          0                45.0                 0
8      q119          0                45.0                 0
9      f993          0                45.0                 0
10     z234          0                45.0                 0
11     b559          0                45.0                 0
12     y260          0                45.0                 0
13     x930          0                45.0                 0
14     o725          0                45.0                 0

In [7]:
mouse_data_df.head(15)

   Mouse ID      Drug
0      f234  Stelasyn
1      x402  Stelasyn
2      a492  Stelasyn
3      w540  Stelasyn
4      v764  Stelasyn
5      o848  Stelasyn
6      z314  Stelasyn
7      g989  Stelasyn
8      m269  Stelasyn
9      a963  Stelasyn
10     t451  Stelasyn
11     p981  Stelasyn
12     k510  Stelasyn
13     h333  Stelasyn
14     c402  Stelasyn

In [9]:
#Get count of mice per drug, so value count based on Drug columns
count_per_drug = mouse_data_df['Drug'].value_counts()
count_per_drug
#So there are 9 drugs plus a single placebo, directions indicate we're only interested in Capomulin, Infubinol, Ketapril, adn Placebo
#And, there are 25 mice for each drug/placebo

Zoniferol    25
Ceftamin     25
Ramicane     25
Propriva     25
Ketapril     25
Infubinol    25
Capomulin    25
Stelasyn     25
Naftisol     25
Placebo      25
Name: Drug, dtype: int64

In [12]:
#How many time points do we have
num_time_points = clin_data_df['Timepoint'].value_counts()
num_time_points
#Our timepoints start at zero and end at 45 days in increments of 5

0     250
5     238
10    223
15    207
20    195
25    183
30    171
35    154
40    142
45    130
Name: Timepoint, dtype: int64

In [15]:
#Send my timepoint value counts index to a list to be used as an x-axis in scatter plots
x_axis_timepoints = num_time_points.index.tolist()
x_axis_timepoints

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [ ]:
#We're only interested in Capomulin, Infubinol, Ketapril, and Placebo

In [ ]:
# Tells matplotlib that we want to make a scatter plot
# The size of each point on our plot is determined by their x value
plt.scatter(x_axis, data, marker="o", facecolors="red", edgecolors="black",
            s=x_axis, alpha=0.75)

In [ ]:
#Merge dataframes on Mouse ID
#Make index the Mouse ID
#So we do find the averages, quartiles, etc. for each drug at each timepoint, and plot those all together
#Each summary drug timepoint will be a single point with error bars denoting the spread over mice for that particular drug/timepoint